body{
    padding: 0;
    margin: 0;
}

.background{
    width: 100%;
    height: 100%;
    background: url(https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?cs=srgb&dl=pexels-lisa-fotios-1083822.jpg&fm=jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    overflow: hidden;
    background-color: #333; 
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .subnav {
    float: left;
    overflow: hidden;
  }
  
  .subnav .subnavbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .subnav:hover .subnavbtn {
    background-color: rgb(0, 0, 0);
  }
  
  .subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: rgb(0, 0, 0), rgb(57, 183, 206);
    width: 100%;
    z-index: 1;
  }
  
  .subnav-content a {
    float: left;
    color: white;
    text-decoration: none;
  }
  
  .subnav-content a:hover {
    background-color: #eee;
    color: black;
  }
  
  .subnav:hover .subnav-content {
    display: block;
  }
  .icon{
      width: 50px;
      height: 50px;
      margin: 5%;
  }
  .iconn{
      width: 50px;
      height: 50px;
      margin: 5%;
}
.iconnn{
  width: 50px;
  height: 50px;
  margin: 5%;
}
.docs{
  width: 50px;
  height: 50px;
  margin: 7%;
}
.doscc{
  width: 50px;
  height: 50px;
  margin: 7%;
}
.docsccc{
    width: 50px;
  height: 50px;
  margin: 7%;
}
.hiden{
  width: 80px;
  height: 80px;;
  bottom: -550px;
  right: -1000px;
  background-color: none;
  background-image: url("./play.png");
  background-size: cover;
  background-position: -2px;
  position: relative;
  border: none;
  color: none;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 80%;
  margin: 5px;
  display: inline-flex;
  overflow: hidden;
}
.wrapper{
  height: 100px;
  width: 360px;
  position: relative;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  border-radius: 10px;
  cursor: default;
  animation: animate 1.5s linear infinite;
  right: -500px;
  bottom: 100px;
}
.wrapper .display,
.wrapper span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .display{
  z-index: 999;
  height: 85px;
  width: 345px;
  background: #1b1b1b;
  border-radius: 6px;
  text-align: center;
}
.display #time{
  line-height: 85px;
  color: #fff;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animate 1.5s linear infinite;
}
@keyframes animate {
  100%{
    filter: hue-rotate(360deg);
  }
}
.wrapper span{
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: inherit;
}
.wrapper span:first-child{
  filter: blur(7px);
}
.wrapper span:last-child{
  filter: blur(20px);
}
